@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 15px;
}

.wrapper {
  width: 90%;
  margin: 5rem auto;
  padding: 0;
}

.header {
  text-align: center;
  padding: 0 1rem;
}

.header p:nth-of-type(1),
.header h1 {
  font-size: 1.65rem;
  color: #4c4e61;
}

.header p:nth-of-type(1) {
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.header h1 {
  font-weight: 600;
}

.header p:nth-of-type(2) {
  color: #a3a5ae;
  margin: 1rem 0;
  text-align: center;
  font-size: 1rem;
}

.row-cards {
  margin: 3rem 0;
}

.row-cards .col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-cards .card {
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 8px 15px #c5cbe2;
          box-shadow: 0px 8px 15px #c5cbe2;
}

.row-cards .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4c4e61;
}

.row-cards .card-text {
  font-size: 0.85rem;
  color: #a3a5ae;
}

.row-cards .card .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
}

.row-cards .card .card-icon img {
  width: 22.5%;
}

.row-cards .card-1 {
  border-top: 4px solid #45d3d3;
}

.row-cards .card-2 {
  border-top: 4px solid #ea5353;
}

.row-cards .card-3 {
  border-top: 4px solid #fcaf4a;
  display: inline-block;
}

.row-cards .card-3 .card-text {
  margin-bottom: 2rem;
}

.row-cards .card-4 {
  border-top: 4px solid #549ef2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 75%;
  }
  .header {
    width: 50%;
  }
  .header p:nth-of-type(1),
  .header h1 {
    font-size: 2.25rem;
  }
  .card-text {
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
  }
}
